.btn {
    position: absolute;
    top: 7%;
    left: 90%;
    font-size: 20px;
    border: none;
    transform: translate(-50%, -50%);
    color:hsl(0, 0%, 40%);
    transition: all 0.1s ease;
}
  
.btn:hover {
    border: none;
    color: #FFA542;
}
  
.btn.active {
    color: #FFA542;
    font-size: 30px;
}