.merch-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .merch-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 330px;
    height: 380px;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
  }
  
  .merch-card .merch-img-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .merch-card .merch-img-container img {
    width: 70%;
  }
  
  .merch-card .merch-first-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .merch-card .merch-first-line .merch-name {
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 600;
    line-height: 20.72px;
    text-align: left;
    color: #1C1C27;  
  }
  
  .merch-card .merch-first-line .price {
    position: relative;
  
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 600;
    line-height: 20.72px;
    text-align: left;
    color: #FFA542;  
  }
  
  .merch-card .merch-first-line .sale-price {
    position: absolute;
    top: 30%;
    left: 10%;
    
  
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    line-height: 15.85px;
    text-align: left;
    color:#FFCE7F;
    text-wrap: nowrap;
    text-decoration: line-through;  
  }
  
  .merch-card .merch-second-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .merch-card .merch-second-line .merch-rating {
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #838383;
  }