:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #FFA542;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background-color: #EAEAEA;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 25px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;

  font-family: Montserrat;
  font-size: 17px;
  font-weight: 600;
  line-height: 20.72px;
  text-align: left;

  transition: all 0.25s;
}
button:hover {
  border-color: #FFA542;
  color: #FFA542;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1110px;
  min-height: 100vh;
  margin: 0 auto;
}





/* === HEADER === */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header .logo {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 700;
  line-height: 30.48px;
  text-align: left;
  color: #101010;
  padding: 20px 0px;
  margin: 0;
}

.header .right-btns-container {
  position: relative;
}

.header .icon-btn {
  padding: none;
  margin: 10px;
  width: 30px;
  transition: 0.25s ease;
  border: none;
  font-size: 1.7rem;
  color:hsl(0, 0%, 50%);
}

.header a:hover .icon-btn {
  filter: brightness(0.5);
}

.header a {
  position: relative;
}

.header a .counter-number {
  color:#fff;
  font-size:80%;
  line-height: 15px;
  font-family: Montserrat;
  text-align: center;
  background-color: #FFA542;
  position:absolute;
  top:-70%;
  left:80%;
  width: 15px;
  height: 15px;
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  border-radius:50%;

  transition: 0.25s ease;
}

.header a:hover .counter-number {
  background-color: hsl(31, 100%, 53%);
}

/* === HEADER === */




/* === APP BODY === */
.merch-area {
  margin-bottom: 20px;
}

.merch-area .merch-category-title {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  text-align: left;
  color: #838383;
}

/* === APP BODY === */


/* === FOOTER === */

footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: auto;
  padding: 30px;
  background-color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

footer h1 {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 700;
  line-height: 30.48px;
  text-align: left;
  color: #101010;
  user-select: none;
}

footer ul {
  list-style-type: none;

  font-family: Montserrat;
  font-size: 17px;
  font-weight: 400;
  line-height: 20.72px;
  text-align: left;
  color: #000000;
}

li + li {
  margin-top: 10px;
}

footer ul a {
  color: #000000;
  margin-top: 5px;
}

footer p {
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 400;
  line-height: 20.72px;
  text-align: left;
}

footer .language-switch-con {
  display: flex;
  justify-content: space-around;
}

footer .language-switch-con svg {
  color: gray;
  font-size: 1.3rem;
}

footer .language-switch-con a {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
  line-height: 18.29px;
  text-align: left;
  color: hsl(0, 0%, 6%);
}

footer .language-switch-con a:hover {
  color: hsl(0, 0%, 30%);
}

footer .language-switch-con a.active {
  font-weight: 700;
  color: #FFA542;
}

footer .socials-container {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
}

footer .socials-container a {
  color: black;
  font-size: 2.2rem;

  transition: transform 0.25s ease;
}

footer .socials-container a:hover {
  transform: scale(1.2);
}

/* === FOOTER === */





/* === MEDIA QUERIES === */
/* Extra small devices (phones, 600px and down)  */
@media only screen and (max-width: 600px) {
  .cart-card-column {
    min-width: none;
    max-width: none;
  }
  .checkout-container {
    flex:1;
    min-width: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Devices below 1199px */
@media only screen and (max-width: 1199px) {
  .container {
    max-width: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1110px;
  }
}
/* === MEDIA QUERIES === */